@import '/home/sandrzeus/Themes/jadeColourPalette.css';

* {
	border: none;
	border-radius: 0;
	font-family: 'JetBrains Mono', 'Hack Nerd Font', 'UbuntuMono', monospace;
	font-size: 14px;
	font-weight: 600;
	min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
	background: transparent;
}

tooltip {
	background: @base;
	border: 1px solid @mauve;
	border-radius: 6px;
	padding: 10px;
}

tooltip label {
	color: @text;
	font-size: 12px;
}

#custom-launcher {
	background: @base;
	color: @text;
	font-size: 16px;
	font-weight: 600;
	margin: 2px;
	padding: 12px 16px 12px 12px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
	transition: all 0.2s ease-in-out;
}

#custom-launcher:hover {
	background: linear-gradient(145deg, @mauve, @lavender, @blue);
	color: @crust; 
}

#workspaces {
	background: @base;
	padding: 4px;
	margin: 2px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
}

#workspaces button {
	padding: 6px 10px;
	margin: 0 2px;
	background: @surface0;
	color: @text;
	border-radius: 8px;
	font-weight: bold;
	border: 1px solid alpha(@crust, 0.3);
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
}

#workspaces button:hover {
	background: linear-gradient(145deg, @mauve, @lavender, @blue);
	color: @crust;
}

#workspaces button.active,
#workspaces button.focused {
	background: linear-gradient(145deg, @mauve, @lavender, @blue);
	color: @crust;
	font-weight: bold;
	font-size: 16px;
	opacity: 1;
}

#workspaces button.empty.active,
#workspaces button.empty.focused {
    background: linear-gradient(145deg, @mauve, @lavender, @blue);
    color: @crust;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.5;
}

#workspaces button.empty {
	opacity: 0.5;
	background: @mantle;
	color: @subtext0;
}

#workspaces button.empty:hover {
	background: linear-gradient(145deg, @mauve, @lavender, @blue);
	color: @crust;
}

#clock {
	background: @base;
	color: @text;
	font-weight: bold;
	margin: 2px;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
	font-size: 16px;
}

#tray {
	background: @base;
	padding: 6px 10px;
	margin: 2px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
}

#tray > .needs-attention {
	background-color: @red;
	border-radius: 6px;
	color: @base;
}

#pulseaudio {
	background: @base;
	color: @text;
	margin: 2px;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
	transition: all 0.2s ease-in-out;
}

#pulseaudio.muted {
	color: @subtext0;
	border-left: 4px solid @subtext0;
}

#pulseaudio:hover {
	background: linear-gradient(145deg, @mauve, @lavender, @blue);
	color: @crust;
}

#backlight {
	background: @base;
	color: @text;
	margin: 2px;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);
	transition: all 0.2s ease-in-out;	
}

#backlight:hover {
	background: linear-gradient(145deg, @mauve, @lavender, @blue);
	color: @crust;
}

#battery {
	background: @base;
	color: @green;
	margin: 2px;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);	
}

#battery.charging {
	color: @yellow;
}

#battery.warning {
	background: @yellow;
	color: @crust
}

#battery.critical:not(.charging) {
	background: @red;
	color: @crust;
}

#network {
	background: @base;
	color: @teal;
	margin: 2px;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1.5px solid alpha(@crust, 0.5);
	box-shadow: 0 2px 6px alpha(@crust, 0.3);	
}

#network.disconnected {
	color: @red;
}

#network.disabled {
	color: @subtext0;
}

