@define-color base #111C18;
@define-color mantle #0D1512;
@define-color crust #0A100E;
@define-color surface0 #23372B;
@define-color surface1 #2E4638;
@define-color surface2 #3B5847;
@define-color overlay0 #53685B;
@define-color overlay1 #6D8574;
@define-color overlay2 #8BA890;
@define-color text #C1C497;
@define-color subtext1 #D7DAB5;
@define-color subtext0 #A5A87C;
@define-color rosewater #D2689C;
@define-color flamingo #FF5345;
@define-color pink #db9f9c;
@define-color mauve #ACD4CF;
@define-color red #E56357;
@define-color maroon #9C4E4A;
@define-color peach #E5C736;
@define-color yellow #C1B24A;
@define-color green #549E6A;
@define-color teal #2DD5B7;
@define-color sky #509475;
@define-color sapphire #75BBB3;
@define-color blue #8CD3CB;
@define-color lavender #9EEBB3;
