* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(13, 21, 18, 0.9);
}

button {
	border-radius: 12px;
	border-color: #0A100E;
	text-decoration-color: #D7DAB5;
  color: #C1C497;
	background-color: #23372B;
	border-style: solid;
	border-width: 1px;
  padding: 25px;
  margin: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #2E4638;
	outline-style: none;
}

#lock {
    background-image: url("/home/sandrzeus/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/sandrzeus/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/sandrzeus/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/sandrzeus/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/sandrzeus/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/sandrzeus/.config/wlogout/icons/reboot.svg");
}
