@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #FF5345; /* Changed to Osaka Jade */
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #459451; /* Changed to Osaka Jade */
@define-color green #549e6a; /* Changed to Osaka Jade */
@define-color teal #2DD5B7; /* Changed to Osaka Jade */
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #509475; /* Changed to Osaka Jade */
@define-color lavender #b4befe;
@define-color text #e6d8ba; /* Changed to Osaka Jade */
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #11221C; /* Changed to Osaka Jade */
@define-color mantle #181825;
@define-color crust #11111b;
